<!DOCTYPE html>
<html lang="ru">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>BlaBlaArticle - Лучший генератор статей</title>

  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <link href="css/app.min.css" rel="stylesheet">
</head>

<body>

  <div class="d-flex" id="wrapper">

    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">BlaBlaArticle</div>
      <div class="list-group list-group-flush">
        <a href="dashboard.html.twig" class="list-group-item list-group-item-action bg-light">Рабочий стол</a>
        <a href="dashboard_create_article.html.twig" class="list-group-item list-group-item-action bg-light">Создать статью</a>
        <a href="dashboard_history.html.twig" class="list-group-item list-group-item-action bg-light">История статей</a>
        <a href="dashboard_subscription.html"   class="list-group-item list-group-item-action active">Подписка</a>
        <a href="dashboard_profile.html.twig" class="list-group-item list-group-item-action bg-light">Профиль</a>
        <a href="dashboard_modules.html.twig" class="list-group-item list-group-item-action bg-light">Модули генератора</a>
      </div>
    </div>

    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Скрыть меню</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Показать/Скрыть навигацию">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Выйти</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
        <h1 class="mt-4">Подписка</h1>
        <div class="row">
          
          <div class="col-xl-8">
            <div class="alert alert-success" role="alert">
              Подписка Plus оформлена, до 01.01.1970
            </div>
            <section class="pricing py-2 row">
              <div class="container">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="card mb-5 mb-lg-0">
                      <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
                        <h6 class="card-price text-center">$0<span class="period">/неделя</span></h6>
                        <hr>
                        <ul class="fa-ul">
                          <li><span class="fa-li"><i class="fas fa-check"></i></span>Возможность создать более 1 статьи</li>
                          <li><span class="fa-li"><i class="fas fa-check"></i></span>Базовые возможности генератора</li>
                          <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Продвинутые возможности генератора</li>
                          <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Свои модули</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="card mb-5 mb-lg-0">
                      <div class="card-body">
                        <h5 class="card-title text-uppercase text-center current text-warning"><i class="fas fa-check"></i> Plus</h5>
                        <h6 class="card-price text-center">$9<span class="period">/неделя</span></h6>
                        <hr>
                        <ul class="fa-ul">
                          <li><span class="fa-li"><i class="fas fa-check"></i></span>Возможность создать более 1 статьи</li>
                          <li><span class="fa-li"><i class="fas fa-check"></i></span>Базовые возможности генератора</li>
                          <li><span class="fa-li"><i class="fas fa-check"></i></span>Продвинутые возможности генератора</li>
                          <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Свои модули</li>
                        </ul>
                        <a href="#" class="btn btn-block btn-secondary text-uppercase" disabled>Текущий уровень</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
                        <h6 class="card-price text-center">$49<span class="period">/неделя</span></h6>
                        <hr>
                        <ul class="fa-ul">
                          <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Безлимитная генерация статей для вашего аккаунта</strong></li>
                          <li><span class="fa-li"><i class="fas fa-check"></i></span>Базовые возможности генератора</li>
                          <li><span class="fa-li"><i class="fas fa-check"></i></span>Продвинутые возможности генератора</li>
                          <li><span class="fa-li"><i class="fas fa-check"></i></span>Свои модули</li>
                        </ul>
                        <a href="#" class="btn btn-block btn-primary text-uppercase">Оформить</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
        
      </div>
    </div>

  </div>

  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="js/dashboard.js"></script>

</body>

</html>
