<!DOCTYPE html>
<html lang="ru">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>BlaBlaArticle - Лучший генератор статей</title>

  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <link href="css/app.min.css" rel="stylesheet">
</head>

<body>

  <div class="d-flex" id="wrapper">

    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">BlaBlaArticle</div>
      <div class="list-group list-group-flush">
        <a href="dashboard.html.twig" class="list-group-item list-group-item-action bg-light">Рабочий стол</a>
        <a href="dashboard_create_article.html.twig" class="list-group-item list-group-item-action bg-light">Создать статью</a>
        <a href="dashboard_history.html.twig" class="list-group-item list-group-item-action bg-light">История статей</a>
        <a href="dashboard_subscription.html.twig" class="list-group-item list-group-item-action bg-light">Подписка</a>
        <a href="dashboard_profile.html"        class="list-group-item list-group-item-action active">Профиль</a>
        <a href="dashboard_modules.html.twig" class="list-group-item list-group-item-action bg-light">Модули генератора</a>
      </div>
    </div>

    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Скрыть меню</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Показать/Скрыть навигацию">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Выйти</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
        <h1 class="mt-4">Профиль</h1>
        <div class="row">
          
          <div class="col-xl-6">
            <div class="alert alert-success" role="alert">
              Профиль успешно изменен
            </div>
            
            <div class="card my-4">
              <div class="card-body">
  
                <p>Ваш API токен: asft21sfsvzxvghk1912t1g12m</p>
                <button class="btn btn-outline-primary">Создать новый</button>
              </div>
            </div>
            
            <form>
              <div class="form-label-group">
                <input type="text" id="inputName" class="form-control" placeholder="Ваше имя" required value="Волков Михаил" autofocus>
                <label for="inputName">Ваше имя</label>
              </div>
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Ваш Email" required value="email@example.com">
                <label for="inputEmail">Ваш Email</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
                <label for="inputPassword">Пароль</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Подтверждение пароля" required>
                <label for="inputConfirmPassword">Подтверждение пароля</label>
              </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Изменить</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="js/dashboard.js"></script>

</body>

</html>
