<!DOCTYPE html>
<html lang="ru">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Регистрация на BlaBlaArticle</title>

  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <link href="css/app.min.css" rel="stylesheet">
</head>

<body class="signin-body">

  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Регистрация</h5>
            <div class="alert alert-success" role="alert">
              Для завершения регистрации подтвердите ваш email
            </div>
            <form class="form-signin">
              <div class="form-label-group">
                <input type="text" id="inputName" class="form-control" placeholder="Ваше имя" required autofocus>
                <label for="inputName">Ваше имя</label>
              </div>
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Ваш Email" required>
                <label for="inputEmail">Ваш Email</label>
              </div>
  
              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
                <label for="inputPassword">Пароль</label>
              </div>
              
              <div class="form-label-group">
                <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Подтверждение пароля" required>
                <label for="inputConfirmPassword">Подтверждение пароля</label>
              </div>
              
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Регистрация</button>
              <hr class="my-4">
              <div class="text-center"><a href="login.html">Я уже зарегистрирован</a></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
